body {
    font-family: Ralway, serif;
    color: #555;
    background: #ff5252;
    margin: 10px 30px;
}
#homepage{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
}
span{
    display: inline-block;
    margin: 0 20px;
}
span.dist{
    color: green;
    float: right;
}
span.true{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: green;
}
span.false{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #ff5353;
}
button{
    float: right;
    background: green;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
button.false{display: none;}

